<a href="https://colab.research.google.com/github/romaniuk-o/Python_Data_Science_HW7/blob/main/HW_7_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Завдання 1**

У цьому завданні необхідно створити свій власний лінійний класифікатор, а рішення рекомендується оформити у вигляді jupyter ноутбука.

Ми колись вже спостерігали деякі "іграшкові" датасети, які доступні в бібліотеці sklearn. Спробуємо створити лінійну модель для одного такого датасету. Для охочих повний список можна знайти тут та тут. Нас же цікавитиме "винний" датасет, інформацію про який можна знайти тут.

In [1]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post4.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post4-py3-none-any.whl size=2973 sha256=fd106ccf182c8d2f8696fd5f5ad6ec34afcad2e95d49dababc943cc74ed1f60f
  Stored in directory: /root/.cache/pip/wheels/d5/b2/a9/590d15767d34955f20a9a033e8db973b79cb5672d95790c0a9
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post4

In [27]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeClassifier

1. Завантажте датасет, виконавши наступний код
```
from sklearn.datasets import load_wine
wine_dataset = load_wine()
```

In [21]:
X, y = load_wine(return_X_y=True)

In [24]:
X.shape

(178, 13)

In [25]:
y.shape

(178,)

In [6]:
# df = load_wine(as_frame=True)
# data_set = df.frame
# data_set

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

2. Вивчіть документацію функції train_test_split. З її допомогою датасет можна розділити на тренувальну та тестову вибірки. Перша потрібна для навчання моделі, а друга - для оцінки якості моделі.

3. Розділіть wine_dataset на навчальну та тестову вибірки.

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state= 42 )

4. Навчіть модель на тренувальній вибірці та оцініть її якість на тестовій.

In [31]:
clf = RidgeClassifier().fit(X_train, y_train)
clf.score(X_train, y_train)

1.0

In [29]:
y_pred = clf.predict(X_test)
(y_pred == y_test).sum()/len(y_pred)

1.0

5. Спробуйте повторити кроки 3 і 4 розбивши датасет на навчальну та тестову вибірки в якійсь власній пропорції. Як це вплинуло на якість моделі?

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state= 42 )

In [33]:
clf = RidgeClassifier().fit(X_train, y_train)
clf.score(X_train, y_train)

1.0

In [35]:
y_pred = clf.predict(X_test)
(y_pred == y_test).sum()/len(y_pred)

0.9555555555555556